body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  opacity: 1;
  transition: 1s opacity;
}

.app.fade-out {
  opacity: 0;
  transition: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-img {
  background-image: linear-gradient(transparent -50%, rgba(36, 36, 36, 0.95)), url("Assets/barbell.jpg");
  background-position: center, center;
  background-size: cover;
}

